

#content{
	background-color:#AAD0FA;
	font-family: tahoma;
    font-size: 16px;
}


#central {
	margin-left: auto;
  	margin-right: auto;
  	text-align: center;
	width: 700px;
}

.sep {
	height:50px;
}

.timestamp{
    font-size: 10px;
    font-style: italic;
    color: orange;
}

.author{
    font-size: 10px;
    font-style: italic;
    color: green;
}


#banner {
	width: 500px;
}

#nbTweetsDiv {
	width: 500px;
	text-align: left;
}

#nbTweets {
   float: left;
}
#nbTweetsLegend {
   float: left;
}
.clear-both {
   clear: both;
}


#posts {
	width: 500px;
}

#tweet_container {
	width: 500px;
}

.post {
    background-color:white;
    width: 500px;
	margin: 1px;
	padding: 10px;
}

